/*!
Theme Name: PixelWatt
Theme URI:
Description: This theme powers PixelWatt
Version: 2.0.0
Author: Rob Clark
Author URI: https://pixelwatt.com
Tags: 

*/

@import "css/bootstrap4/bootstrap";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i";
@import "inc/fullpage/jquery.fullpage.css";
@import "inc/jarallax/jarallax.css";
@import "css/jquery.mb.vimeo_player.min.css";
@import "inc/owl-carousel/assets/owl.carousel.css";
@import "inc/owl-carousel/assets/owl.theme.default.css";


@mixin image-2x($image, $image2x, $width, $height) {
    background-image: url($image);
    background-size: $width $height;
    @media (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 2.6/2),
           (-webkit-min-device-pixel-ratio: 1.3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx) {
      /* on retina, use image that's scaled by 2 */
      background-image: url($image2x);
      background-size: $width $height;
    }
  }

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

#logo {
    display: block;
    font-size: 0px;
    text-indent: -9999px;
    width: 205px;
    height: 36px;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: 0.15s ease-in-out all;
    
    &.logo-default {
        background-image: url(images/svg/logo.svg);
        background-size: 205px 36px; 
        
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background-image: url(images/svg/logo.svg);
            background-size: 205px 36px;    
        }
        
        @include media-breakpoint-down(xs) {
            width: 200px;
            height: 34px;
            background-size: 200px 34px !important;
            margin-top: 10px;
        }
    }
    
    &.logo-inverted {
        background-image: url(images/logo-inverted.png);
        background-size: 205px 36px; 
        
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background-image: url(images/logo-inverted-2x.png);
            background-size: 205px 36px;    
        }
        
        @include media-breakpoint-down(xs) {
            width: 200px;
            height: 34px;
            background-size: 200px 34px !important;
            margin-top: 10px;
        }
    }
    
    &.logo-inverted-small {
        width: 250px;
        height: 43px;
        background-image: url(images/logo-inverted.png);
        background-size: 250px 43px !important;
        
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background-image: url(images/logo-inverted-2x.png);
            background-size: 250px 43px;    
        }
        
        @include media-breakpoint-down(sm) {
            width: 150px;
            height: 25px;
            background-size: 150px 25px !important;
        }
    }
}

hr {
    //display: block;
    //border: 0px solid transparent;
    //.img-retina('images/hrule.png'; 'images/hrule-2x.png'; 16px; 10px);
    //height: 10px;
    //margin: 0;
    border-top: 1px solid $gray-700;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

/* The Overlay (background) */
.overlay {  
    @include media-breakpoint-up(sm) {
        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    
    height: 0%;
    left: 0;
    right: 0;
    position: fixed; 
    z-index: 9999 !important; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    
    .overlay-content {
        position: relative;
        width: 100%; 
        margin-top: 25px;
        
        .overlay-header {
            .hamburger {
                color: #fff;
                font-size: 20px;
                
                .block-bars {
                    display: inline-block;
                    width: 21px;

                    .line {
                        width: 21px;
                        height: 3px;
                        background: #fff;
                        display: inline-block;
                        margin-bottom: 4px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        
        #primary-navigation {
            margin-top: 90px;
            ul {
                margin: 0 0 30px 0;
                padding: 0;
                font-size: 72px;
                font-weight: bold;
                line-height: 1.4;
                
                li {
                    list-style: none;
                    margin-bottom: 20px;
                    
                    a {
                        color: #fff;
                    }
                }
            }
            
            @include media-breakpoint-down(xs) {
                margin-bottom: 10px;
                ul {
                    line-height: 1.3;
                    font-size: 30px;
                }
            }
        }
        
                
        #search-social {
            
            
            .social-accounts {
                position: relative;
                bottom: 0;
                right: 0;
                
                ul {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    margin-right: 0;
                    
                    li {
                        list-style: none;
                        display: inline-block;
                        font-size: 36px;
                        margin-left: 7px;
                        margin-right: 7px;
                        
                        a {
                            color: $primary;
                        }
                    }
                }
                
                
            }
        }
    }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.9em 0.8em;
    line-height: 1;

    .fas {
        font-size: 0.8em;
        vertical-align: middle;

        &.icon-right {
            margin-left: 0.2rem;
        }
    }

    &.btn-lg {
        font-size: 0.9rem;
        padding: 1.1em 1em;
    }
}

body.home {
    .nav-container {
        top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
        z-index: 9990;

        @include media-breakpoint-down(md) {
            position: absolute;
        }
    }

    #page-footer {
        color: #262626;
        padding-bottom: 25px;
        bottom: 0px;
        left: 50%;
        right: 0px;
        position: fixed;
        z-index: 9990;
        font-size: 0.85rem;
        font-weight: 500;
        padding-right: 15px;

        @include media-breakpoint-down(md) {
            display: none;
            visibility: hidden;
        }

        .footer-copyright {
            
        }

        .footer-social {
            ul {
                display: inline-block;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    list-style: none;
                    font-size: 1.25rem;
                    margin-left: 0.75rem;

                    a {
                        color: #4A4A4A;
                    }
                }
            }
        }
    }
}

a.footer-link {
    position: absolute;
    bottom: 0;
    left: 4rem;
    padding-left: 45px;
    height: 30px;
    background-image: url('images/footer-link-arrow.svg');
    background-position: left top;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    font-size: 0.9rem;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-in-out all;
    display: inline-block;

    &:hover {
        opacity: 1;
        height: 35px;
    }

    @include media-breakpoint-down(md) {
        display: none;
        visibility: hidden;
    }
}

#front-intro {
    background-image: url('images/front-intro-bg-alt.png');
    background-position: center center;
    background-size: cover;
    color: #4A4A4A;

    @include media-breakpoint-down(md) {
        &.section {
            height: auto !important;
        }
        .fp-tableCell {
            height: auto !important;
        }
        padding-top: 120px;
        padding-bottom: 50px;
    }

    .section-content {

        &-inner {
            padding-left: 4rem;
            padding-right: 20px;

            @include media-breakpoint-down(md) {
                padding-left: 0;
                padding-right: 0;
                text-align: center;
            }
        }

        h1 {
            font-weight: 900;
            font-size: 32px;
            //line-height: 1.15;

            @include media-breakpoint-up(lg) {
                // Transition stuff
                opacity: 0;
                -webkit-transition: opacity 0.85s cubic-bezier(0.77, 0, 0.175, 1);
                transition: opacity 0.85s cubic-bezier(0.77, 0, 0.175, 1);
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }

            @include media-breakpoint-down(lg) {
                font-size: 24px;
            }

            @include media-breakpoint-only(xs) {
                font-size: 20px !important;
            }

            strong {
                display: block;
                font-size: 56px;
                line-height: 1.1;
                margin-top: 5px;

                @include media-breakpoint-down(lg) {
                    font-size: 36px;
                }

                @include media-breakpoint-only(xs) {
                    font-size: 30px !important;
                }
            }

            &:after {
                display: block;
                width: 100px;
                height: 5px;
                background-color: $primary;
                content: ' ';
                margin: 2rem 0;
            }

            @include media-breakpoint-down(md) {
                font-size: 1.75rem;

                strong {
                    font-size: 3rem;
                }

                &:after {
                    margin: 1rem 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        p {
            font-size: 24px;
            font-weight: 600;

            @include media-breakpoint-down(lg) {
                font-size: 20px;
            }
        }

        .btn.btn-lg {
            @include media-breakpoint-up(lg) {
            margin-top: 2rem;
            -webkit-transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
              transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 1.4s;
              opacity: 0;
              transform:translateX(-30px);
              -webkit-transform:translateX(-30px);
              -moz-transform:translateX(-30px);
              -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
            }
        }
    }

    .section-content,
    .section-image {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .section-image-inner {
        position: relative;
        .screen-overlay {
            position: absolute;
            top: 5%;
            left: 4.75%;
            bottom: 30%;
            right: 0;
            background-color: #111111;

            .screen {
                background-color: #111111;
                position: relative;
                background-size: 120% auto;
                background-position: left top;
                a {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0,0,0,0.6);
                    color: #fff;
                    font-weight: 500;
                    opacity: 0;
                    transition: 0.15s ease-in-out all;

                    .far {
                        margin-right: 5px;
                    }

                    &:hover {
                        opacity: 1;
                        text-decoration: none;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                left: 4%;
                right: 4%;

                .screen {
                    background-size: cover;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .section-image-outer {
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
            padding-left: 20px;
                padding-right: 20px;

            .section-image-inner {

            }
        }
    }
}

.section.active#front-intro {
    @include media-breakpoint-up(lg) {
        .section-content {
            h1 {
                 opacity: 1 !important;
    -webkit-transition-delay: .3s !important;
          transition-delay: .3s !important;
            }

            .btn.btn-lg {
                opacity: 1;
    transform:translateX(0px);
    -webkit-transform:translateX(0px);
    -moz-transform:translateX(0px);
            }
        }
    }

}

#front-services {
    background-color: $primary;
    color: #262626;

    @include media-breakpoint-down(md) {
        &.section {
            height: auto !important;
        }
        .fp-tableCell {
            height: auto !important;
        }
        padding-top: 100px;
        padding-bottom: 75px;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 2.5rem;
        margin-top: 0;
        strong {
            font-weight: 900;
        }

        @include media-breakpoint-down(lg) {
            font-size: 18px;
            font-weight: 400;
        }

        @include media-breakpoint-up(lg) {
        // Cool transition stuff
        -webkit-transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
        transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 1.4s;
        opacity: 0;
        transform:translateX(-30px);
        -webkit-transform:translateX(-30px);
        -moz-transform:translateX(-30px);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        }
    }
    h2 {
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 2.5rem;
        margin-top: 0;
        height: 45px;

        @include media-breakpoint-up(lg) {
        // Cool transition stuff
        overflow: hidden;
        line-height: 4;
        -webkit-transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
        transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        }

        @include media-breakpoint-down(lg) {
            font-size: 24px;
            height: 30px;
        }
       
    }

    .items {
        margin-bottom: -3rem;

        @include media-breakpoint-up(lg) {
        -webkit-transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
              transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 1.4s;
              opacity: 0;
              -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }
    }

    .item {
        margin-bottom: 3rem;

        h4 {
            font-size: 1.15rem;
            font-weight: 800;
        }

        p {
            font-size: 14px;
            line-height: 1.75;

            @include media-breakpoint-down(lg) {
                line-height: 1.6;
            }
        }

        .item-icon {
            img.img-fluid {
                max-width: 87px !important;
            }
        }

        .learn-more {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
        }

        .si-item {
            @include media-breakpoint-down(lg) {
                background-size: 60px auto !important;
            }
        }

        span {
            display: block;
            padding-left: 116px;
            background-position: left top;
            background-repeat: no-repeat;
            max-width: 500px;

            @include media-breakpoint-down(lg) {
               padding-left: 90px;
            }
        }

    }
}

.serviceModal {
    .modal-content {
        .modal-header {
            padding: 40px 40px 0 40px;
            border-bottom: none;

            h5.modal-title {
                font-weight: 800 !important;
                font-size: 36px !important;

                @include media-breakpoint-down(lg) {
                    font-size:24px !important;
                }
            }

            .close {
                font-size: 48px;

                @include media-breakpoint-down(lg) {
                    font-size:30px;
                }
            }
        }
        .modal-body {
            padding: 20px 40px 30px 40px;
            font-size: 15px;
        }
    }
}

.section.active#front-services {
    @include media-breakpoint-up(lg) {
            h3 {
            opacity: 1;
            transform:translateX(0px);
          -webkit-transform:translateX(0px);
          -moz-transform:translateX(0px);
          }

          .items {
            -webkit-transition-delay: 0.4s;
                  transition-delay: 0.4s;
                  opacity: 1;
          }
          h2 {
            line-height: 1;
          -webkit-transition-delay: 0.3s;
                  transition-delay: 0.3s;
          }
    }
}

#front-recent {
    @include media-breakpoint-down(md) {
        &.section {
            height: 450px !important;
        }
        .fp-tableCell {
            height: 450px !important;
        }
    }
    @include media-breakpoint-down(sm) {
        .fp-controlArrow.fp-prev {
            border-color: transparent $gray-400 transparent transparent !important;
            border-width: 30px 24px 30px 0;
        }
        .fp-controlArrow.fp-next {
            border-color: transparent transparent transparent $gray-400 !important;
            border-width: 30px 0 30px 24px;
        }
    }

    @include media-breakpoint-down(xs) {
        .fp-controlArrow.fp-prev {
            border-width: 20px 16px 20px 0;
        }
        .fp-controlArrow.fp-next {
            border-width: 20px 0 20px 16px;
        }
    }
    .slide {
        background-position: center center;
        background-size: cover;
        position: relative;

        @include media-breakpoint-down(md) {
            height: auto !important;
        }

        @include media-breakpoint-down(sm) {
            background-image: none !important;
            text-align: center;

            .img-fluid {
                max-width: 150px;
                margin-bottom: 10px;
            }
        }

        .btn {
            @include media-breakpoint-up(lg) {
                opacity: 0;
                -webkit-transition: opacity 0.85s cubic-bezier(0.77, 0, 0.175, 1);
                transition: opacity 0.85s cubic-bezier(0.77, 0, 0.175, 1);
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }
        }

        h2 {
            font-size: 36px;
            font-weight: 900;
            color: #4A4A4A;
            margin-bottom: 2rem;

            @include media-breakpoint-down(lg) {
                font-size: 26px;
            }

            @include media-breakpoint-up(lg) {
            // Cool transition stuff
            -webkit-transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
            transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 1.4s;
            opacity: 0;
            transform:translateX(-30px);
            -webkit-transform:translateX(-30px);
            -moz-transform:translateX(-30px);
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
            }

            @include media-breakpoint-down(xs) {
                font-size: 20px;
            }

            &:before {
                content: 'Recent Work';
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 0.1rem;
                display: block;
                margin-bottom: 0.5rem;
                height: 15px;

                @include media-breakpoint-down(lg) {
                    font-size: 12px;
                    height: 13px;
                }

                @include media-breakpoint-up(lg) {
                // Cool animation stuff
                overflow: hidden;
                line-height: 4;
                -webkit-transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
                transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
                }
            }
        }

        
    }

    &.section.fp-completely {
        .slide.active {
            @include media-breakpoint-up(lg) {
                .btn {
                    opacity: 1;
                    transform:translateX(0px);
                    -webkit-transform:translateX(0px);
                    -moz-transform:translateX(0px);
                    -webkit-transition-delay: 0.9s;
                    transition-delay: 0.9s;
                }

                h2 {
                    opacity: 1;
                    transform:translateX(0px);
                    -webkit-transform:translateX(0px);
                    -moz-transform:translateX(0px);

                    &:before {
                        line-height: 1;
                        -webkit-transition-delay: 0.7s;
                        transition-delay: 0.7s;
                    }
                }
            }
        }
    }
}

#front-contact {
    @include media-breakpoint-down(md) {
        &.section {
            height: auto !important;
        }
        .fp-tableCell {
            height: auto !important;
        }
    }
    position: relative;
    .nav-container-outer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9990;
    }
    .container-fluid.section-container {
        .row {
            .col-12.section-col-6 {
                padding: 0;
            }
            .section-map {
                #map {
                    margin-bottom: 0px !important;

                    @include media-breakpoint-down(md) {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
            .section-form {
                background-image: url('images/front-contact-form-bg.jpg');
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;

                @include media-breakpoint-down(md) {
                    background-image: none;
                }
                &-inner {
                    padding-left: 30px;
                    padding-right: 30px;

                    @include media-breakpoint-down(md) {
                        padding-top: 40px;
                        padding-bottom: 30px;
                    }

                    h1, h2 {
                        color: #262626;
                        font-size: 48px;
                        font-weight: 900;
                        text-indent: 5px;
                        margin-bottom: 32px;

                        @include media-breakpoint-down(lg) {
                            font-size: 36px;
                            margin-bottom: 24px;
                        }
                    }

                    
                }
            }
        }
    }

    &.front-contact-standalone {
        .container-fluid.section-container {
            .row {
                .section-map {
                    #map {
                        margin-bottom: 0px !important;

                        @include media-breakpoint-down(md) {
                            display: block;
                            visibility: visible;
                            margin-bottom: 30px;
                            height: 400px !important;
                        }
                    }
                }
                .section-form {
                    background-image: none;

                    .contact-details {
                        padding-top: 40px;

                        a {
                            color: rgb(33, 37, 41);
                        }

                        h4 {
                            font-size: 20px;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
}

.nf-form-cont {
    .nf-form-fields-required {
                        display: none;
                        visibility: hidden;
                    }

                    .form-control {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid #9E8026;
                        padding-left: 0;
                        padding-right: 0;

                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #262626;
                            opacity: 1; /* Firefox */
                        }

                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: #262626;
                        }

                        &::-ms-input-placeholder { /* Microsoft Edge */
                            color: #262626;
                        }
                    }

                    textarea.ninja-forms-field.form-control {
                        height: 120px;
                        line-height: 1.2;
                        border-right: 1px solid #9E8026;
                        resize: none;

                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #262626;
                            opacity: 1; /* Firefox */
                        }
                    }

                    .submit-wrap {
                        text-align: right;
                    }

                    .ninja-forms-field.btn.btn-primary {
                        background-color: #262626;
                        color: $primary;
                        border: none;
                        margin-left: auto;
                    }
}

.nav-container {
    padding-top: 25px;
   
    
    @include media-breakpoint-up(sm) {
        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .hamburger {
        color: #262626;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        cursor: pointer;
        padding-top: 15px;

        @include media-breakpoint-down(md) {
            font-size: 11px;
            font-weight: 700;
        }

        .block-bars {
            display: inline-block;
            width: 21px;
            vertical-align: middle;
            margin-right: 5px;

            .line {
                width: 21px;
                height: 3px;
                background: #262626;
                display: block;
                margin-bottom: 4px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        
        .fa-circle {
            color: $primary;
        }
    }

    &.nav-container-inverted {
        .hamburger {
            color: #fff;

            .block-bars {
                .line {
                    background-color: #fff;
                }
            }
        }
    }
}

header {
    background-color: $gray-700;

    .header-content {
        h2 {
            color: #fff;
            margin-top: 0;
        }
    }
    
    &.header-casestudy {
        height: 100vh;
        position: relative;
        background-color: #000;

        .player {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;
    }
        
        .header-content-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: 'Scroll Down';
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                padding-bottom: 53px;
                @include image-2x('images/header-casestudy-arrow.png', 'images/header-casestudy-arrow-2x.png', 31px, 48px);
                background-position: center bottom;
                background-repeat: no-repeat;
            }
        }
        
        
        
        .header-content {
            color: #fff;
            padding-bottom: 120px;
            
            h1 {
                font-family: $font-family-sans-serif;
                font-weight: 900;
                font-size: 40px;
                margin-top: 0;
            }
            
            p {
                font-family: $font-family-sans-serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
            }
            
            p.subtitle {
                font-family: $font-family-sans-serif;
                color: $primary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                line-height: normal;
                margin-bottom: 20px;
            }
        }
        
        @include media-breakpoint-down(sm) {
            height: auto;
            
            .header-content-container {
                position: relative;
                
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            
            .header-content {
                padding-bottom: 40px;
                
                h1 {
                    margin-top: 80px;
                    font-size: 30px;
                }
                
            }
            
            
        }
        
        @include media-breakpoint-down(xs) {
            
        }
    }
    
    &#header-thoughts {
        background-color: #fff;
        padding-bottom: 100px;
    }
    
    &#header-contact {
        height: 600px;
        background-image: url(images/contact-header.jpg);
        background-position: center center;
        background-size: cover;
        
        h1 {
            font-family: "museo-slab";
            font-weight: 800;
            font-size: 72px;
            color: $primary;
            margin-top: 80px;
            
            strong {
                font-weight: 800;
                color: #fff;
            }
        }
        
        .phone, .email {
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
            display: inline-block;
            margin: 0px 20px 0px 20px;
            
            a {
                color: #fff;
            }
            
            &:before {
                font-family: FontAwesome;
                color: $primary;
                margin-right: 10px;
            }
        }
        
        .phone:before {
            content: '\f095';
        }
        
        .email:before {
            content: '\f003';
        }
        
        
        
        @include media-breakpoint-down(xs) {
            height: 425px;
            
            h1 {
                font-size: 48px;
                margin-bottom: 20px;
            }
            
            .phone {
                margin-bottom: 10px;
            }
        }
    }
    
    &.header-work {
        
        position: relative;
        background-image: url(images/recent-work-bg.jpg);
        background-position: center center;
        background-size: cover;

        .headline-row {
            height: 280px;
        }
        
        .header-content-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: 'More Work';
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                padding-bottom: 53px;
                @include image-2x('images/header-casestudy-arrow.png', 'images/header-casestudy-arrow-2x.png', 31px, 48px);
                background-position: center bottom;
                background-repeat: no-repeat;
            }
        }
        
        h1 {
            font-family: $font-family-sans-serif;
            font-weight: 800;
            font-size: 64px;
            color: #fff;
            margin-bottom: 20px
        }
        
        .header-content {
            color: #fff;
            padding-bottom: 120px;
            
            h2 {
                font-family: $font-family-sans-serif;
                font-weight: 900;
                font-size: 40px;
                margin-top: 0;
            }
            
            p {
                font-family: $font-family-sans-serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
            }
            
            p.subtitle {
                font-family: $font-family-sans-serif;
                color: $primary;
                letter-spacing: 2px;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                line-height: normal;
                margin-bottom: 20px;
            }
        }
        
        @include media-breakpoint-down(sm) {
            height: auto;
            
            .header-content-container {
                position: relative;
                
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            
            .header-content {
                padding-bottom: 40px;
                
                h2 {
                    font-size: 30px;
                }
                
            }
            
            h1 {
                margin-bottom: 50px;
            }
        }
        
        @include media-breakpoint-down(xs) {
            h1 {
                font-size: 48px;
            }
        }
    }
    
    &#header-vencomatic {
        //background-image: url(images/vencomatic-header.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    &#header-cityofhsv {
        //background-image: url(images/hsv-header.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    &#header-digium {
        //background-image: url(images/digium-header.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    &#header-home {
        background-image: url(images/home/home-casestudy-vencomatic-bg.jpg);
        background-position: center center;
        background-size: cover;
        
        .header-content {
            padding-top: 100px;
            
                h2 {
                    font-family: "museo-slab";
                    font-weight: 300;
                    font-size: 48px;
                    margin-bottom: 30px;
                    
                    strong {
                        font-weight: 800;
                    }
                    
                    @include media-breakpoint-only(sm) {
                        font-size: 36px;
                    }
                    
                    @include media-breakpoint-down(xs) {
                        font-size: 30px;
                    }
                }
        }
    }
    
    
}

#work-intro {
    padding: 70px 0 70px 0;
    //font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffF;
    font-size: 18px;
    color: #262626;

    p.lead {
        font-weight: 600;
        font-size: 24px;
    }
}

.work-item {
    position: relative;
    background-size: cover;
    background-position: center center;
    .work-item-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

       background-color: rgba(0,0,0,0.5);
        transition: 0.15s ease-in-out all;

        .img-fluid.work-item-logo {
            max-width: 50% !important;
        }
    }

     .work-item-image {
        
    }

    &:hover {
        .work-item-inner {
         background-color: rgba(255,192,0,0.65);
        }
        
    }
}

#home-intro {
    padding: 80px 0;
    background-image: url(images/home/home-intro-bg.jpg);
    background-position: center center;
    background-size: cover;


    
    h1 {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 110px;
        
        span {
            font-size: 14px;
            letter-spacing: 2px;
            color: #E6C147;
            display: block;
            font-weight: 800;
        }
        
        &:after {
            display: block;
            width: 124px;
            height: 2px;
            background-color: #E6C147;
            margin: 20px auto 0 auto;
            content: ' ';
        }
        
        @include media-breakpoint-down(xs) {
            margin-bottom: 60px;
        }
    }
    
    p.lead {
        font-family: $font-family-serif;
        font-size: 35px;
        font-weight: 100;
        line-height: 1.3;
        margin-top: 0;
        
        span {
            font-weight: 700;
            text-decoration: underline;
        }
        
        @include media-breakpoint-down(xs) {
            font-size: 24px;
        }
    }
    
    .btn {
        color: #000;
    }
}


.home-casestudy {
    padding: 80px 0;
    background-color: $gray-700;
    background-image: url(images/home/home-casestudy-vencomatic-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    
    .home-casestudy-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
    }
    
    .home-casestudy-content {
        color: #fff;
        
        h1 {
            font-family: "museo-slab";
            font-weight: 800;
            font-size: 40px;
            margin-top: 0;
        }
        
        p {
            font-family: $font-family-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
        }
        
        p.subtitle {
            font-family: $font-family-sans-serif;
            color: #7ED321;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            line-height: normal;
            margin-bottom: 20px;
        }
        
        .btn {
            margin-top: 20px;
        }
    }
}

.casestudy-content {
    .casestudy-image {
        height: 960px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        
        .casestudy-caption {
            position: absolute;
            display: inline-block;
            bottom: 0;
            right: 0;
            background-color: $primary;
            padding: 10px;
            color: #000;
            margin: 0 20px 20px 0;
            font-weight: 500;
        }
        
        @include media-breakpoint-only(md) {
            height: 700px;
        }
        
        @include media-breakpoint-only(sm) {
            height: 500px;
        }
        
        @include media-breakpoint-down(xs) {
            height: 300px;
        }
    }
}

.casestudy-website {
    color: #fff;
    padding: 100px 0;
    background-color: #242424;
    
    h2 {
        font-weight: 800;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 20px;
        color: $primary;
    }
    
    p {
        font-family: $font-family-sans-serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
    }
    
    .owl-carousel {
        margin-top: 60px;
        .item{
          opacity:0.4;
          transition:.4s ease all;
          margin:0 20px;
          transform:scale(.8);
          position: relative !important;
          
          a {
              position: absolute;
              top: 0;
              bottom: 0;
              cursor: pointer;
              &.next-website {
                  left: 0;
                  right: 50%;
              }
              &.prev-website {
                  right: 0;
                  left: 50%;
              }
          }

          .item-image {
            position: relative;
            padding-top: 35px;
            border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            box-shadow: 0 0 10px rgba(0,0,0,0.25);

            img {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 35px;
                background: linear-gradient(#e9e6e9, #d0cfd1);
                content: ' ';
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                
                border-bottom: 1px solid #a3a1a1;
            }
          }
          
          
        }
        @media(max-width:1000px){
          .item{margin:0; transform:scale(.9)}
        }
        .active .item{
          opacity:1;
          transform:scale(1);
        }
        
        .active {
            a {
                display: none;
                visibility: hidden;
            }
        }
        
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
        
        .inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
        .inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
        .inner a:hover{border-color:#fff;}
        .black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
        .black .inner a:hover{border-color:#000;}
        
        
        .owl-controls{position:absolute; margin-top:300px;}
    }
    
    

}

.casestudy-singlewide {
    padding: 90px 0;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 40px;        
    }
    
    .container-fluid {
        max-width: 1700px;
    }
}

.casestudy-services {
    padding: 50px 0 40px 0;
    background-color: $primary;
    
    h2 {
        font-weight: 800;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 40px;   
        color: #4F4218;     
    }

    p {
        line-height: 1.6;
        color: #4F4218;
    }

    a {
        color: #4F4218;
        text-decoration: underline;
        font-weight: bold;
    }
    
    h4 {
        color: #4F4218;
        margin-bottom: 0px;
        margin-top: 25px;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .container-fluid {
        max-width: 1700px;
    }
    
    .service {
        margin-bottom: 20px;

        h4 {
            margin: 0;
        }
        
        h4:before {
            width: 40px;
            height: 40px;
            display: inline-block;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            vertical-align: middle;
            content: ' ';
            margin-right: 10px;
        }
    }
}

#vencomatic-tradeshow {
    background-image: url(images/vencomatic-tradeshow.jpg);
}

#cityofhsv-quote {
    background-image: url(images/cityofhsv-quote.jpg);
    height: 800px;
    
    @include media-breakpoint-only(md) {
            height: 600px;
        }
        
        @include media-breakpoint-only(sm) {
            height: 400px;
        }
        
        @include media-breakpoint-down(xs) {
            height: 200px;
        }
}

#cityofhsv-modal {
    background-image: url(images/cityofhsv-modal.jpg);
}

#vencomatic-type {
    background-image: url(images/vencomatic-type.jpg);
}

#vencomatic-brochures {
    background-image: url(images/vencomatic-brochures.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.casestudy-contact {
    padding: 70px 0 25px 0;
    background-image: url(images/casestudy-footer-bg.jpg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: $primary;
    color: #fff;
    
    h2 {
        
        font-weight: 800;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 35px;   
        color: #262626;
        line-height: 1.4;
        
        strong {
            display: block;
            color: #fff;
            font-weight: 800;
        }     
    }
    
    p {
        font-size: 18px;
        color: #262626;
        font-weight: 600;
    }

    .submit-wrap {
        text-align: center;
    }
    .btn {
        margin-left: auto;
        margin-right: auto;
    }
    
    .nf-form-fields-required {
        margin-bottom: 20px;
        .ninja-forms-req-symbol {
        }
    }

    .casestudy-footer {
        padding-top: 30px;
        color: #262626;

        a {
            color: #262626;
        }

        .copyright {
            font-size: 14px;
            font-weight: 500;
        }

        ul.social-icons {
            padding: 0;
            margin: 0;
            display: inline-block;

            li {
                display: inline-block;
                list-style: none;
                margin-left: 6px;
                font-size: 20px;
            }
        }
    }
}

.front-contact {
    padding: 70px 0;
    background-image: url(images/front-contact-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #4A4A4A;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 25px;   
        color: #4A4A4A;
        line-height: 1.4;  
        
        @include media-breakpoint-down(xs) {
            font-size: 26px;
        }   
    }
    
    p {
        font-size: 18px;
    }
    
    .btn-primary {
        color: #4A4A4A;
    }
    
    .nf-form-fields-required {
        margin-bottom: 20px;
        .ninja-forms-req-symbol {
            color: $primary;
        }
        
    }
}

.thoughts-contact {
    padding: 70px 0;
    background-color: $primary;
    color: #4A4A4A;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 25px;   
        color: #4F4218;
        line-height: 1.4;  
        
        @include media-breakpoint-down(xs) {
            font-size: 26px;
        }   
    }
    
    p {
        font-size: 18px;
        color: #4F4218;
    }
    
    .btn-primary {
        color: #4F4218;
        background-color: #fff;
    }
    
    .nf-form-fields-required {
        margin-bottom: 20px;
        color: #4F4218;
        .ninja-forms-req-symbol {
            color: #fff;
        }
        
    }
}


footer {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    padding: 40px 0;
    background-color: #252525;
    font-size: 18px;
    color: #fff;
    .inner {
        display: flex;
        align-items: center;
        
        .inner-content {
            width: 100%;
        }
    }
    
    .social-accounts {
        position: relative;
        bottom: 0;
        right: 0;
        
        ul {
            margin: 0;
            padding: 0;
            display: inline-block;
            margin-right: 0;
            
            li {
                list-style: none;
                display: inline-block;
                font-size: 36px;
                margin-left: 7px;
                margin-right: 7px;
                
                a {
                    color: $primary;
                }
                
                &:last-of-type {
                    margin-right: 0px !important;
                }
            }
        }
        
        @include media-breakpoint-down(sm) {
            //text-align: left;
            //position: relative;
            
            ul {
                margin-right: 0;
                
                li {
                    margin-left: 0px;
                    margin-right: 15px;
                    font-size: 24px;
                }
            }
        }
    }
    
    @include media-breakpoint-down(xs) {
        font-size: 14px;
        .inner {
            text-align: center !important;
            margin-bottom: 15px;
            
            .logo-inverted-small {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }
}

.home-recent {
    background-color: $gray-700;
    
    .container-fluid {
        //padding: 0;
    }
    
    .recent-item {
        height: 500px;
        position: relative;
        background-position: center center;
        background-size: cover;
        
        .recent-inner {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 15%;
            
            h3 {
                font-family: "museo-slab";
                font-weight: 800;
                font-size: 30px;
                margin-top: 0; 
                margin-bottom: 5px;
                color: #fff;
                line-height: 1.4;
            }
            
            p.subtitle {
                font-family: $font-family-sans-serif;
                color: $primary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                line-height: normal;
                margin-bottom: 20px;
            }
        }
        
        @include media-breakpoint-down(sm) {
            height: auto;
            padding-top: 100px;
            padding-bottom: 100px;
            .recent-inner {
                position: relative;
                bottom: auto;
                left: auto;
                right: auto;
                top: auto;
                text-align: center;
            }
        }
    }
    
    #recent-huntsville {
        background-image: url(images/hsv-header.jpg);
        background-position: center center;
        background-size: cover;
    }
    
    #recent-digium {
        background-image: url(images/digium-header.jpg);
        background-position: center center;
        background-size: cover;
    }
    
    
}

.thoughts-content {
    
}

.thoughts-listing {
    padding: 0 0 70px 0;
    
    .thought-item {
        h1.thought-title,
        h2.thought-title {
            font-family: "museo-slab";
            font-size: 40px;
            font-weight: 800;
            color: #4A4A4A;
            margin-top: 40px;
            margin-bottom: 15px;
            
            a {
                color: #4A4A4A;
            }
        }
        .thought-date {
            color: $primary;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: block;
        }
        
        hr {
            width: 140px;
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
            color: #4A4A4A;
            margin-bottom: 15px;
        }
        .btn {
            color: #4A4A4A;
        }
        
        .thought-content {
            p {
                font-size: 15px;
                line-height: 1.75;
                margin-bottom: 20px;
                
                strong {
                    font-weight: 600;
                }
            }
            h3 {
                margin-bottom: 20px;
                font-family: "museo-slab";
                font-size: 24px;
                font-weight: 700;
            }
            h2 {
                font-family: "museo-slab";
                font-size: 30px;
                font-weight: 800;
                color: #4A4A4A;
                margin-bottom: 25px;
                padding-top: 10px !important;
                
                a {
                    color: #4A4A4A;
                }
            }
        }
    }
}

.contact-map {
    .contact-map-info {
        background-color: #FED13F;
        
        .inner {
            height: 600px;
            display: flex;
            align-items: center;
            
            .inner-content {
                width: 100%;
                
                h2 {
                    font-size: 48px;
                    color: #fff;
                    line-height: 1.1;
                    font-weight: 900;
                    margin-top: 0px;
                    margin-bottom: 20px;
                    font-family: "museo-slab";
                }
                
                p {
                    font-size: 20px;
                    line-height: 1.5;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
        
        .contact-map-social {
            padding: 0;
            margin: 20px 0 0 0;
            
            li {
                list-style: none;
                display: inline-block;
                margin: 0 2px;
            }
        }
    }
    #map {
        height: 600px;
    }
    
    .contact-map-embed {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    @include media-breakpoint-down(sm) {
        .contact-map-info {
            .inner {
                height: 400px;
                
                .inner-content {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
        
        #map {
            height: 300px;
        }
    }
}