/*!
Theme Name: PixelWatt
Theme URI:
Description: This theme powers PixelWatt
Version: 1.02
Author: Rob Clark
Author URI: https://pixelwatt.com
Tags: 

*/

@import "css/bootstrap/bootstrap.less";

// Light - 300

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-LightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 300;
}

// Regular- 400

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
}

// Medium - 500

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-MediumItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 500;
}

// Bold - 800

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 800;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 800;
}

#logo {
    display: block;
    font-size: 0px;
    text-indent: -9999px;
    width: 306px;
    height: 52px;
    background-position: center bottom;
    background-repeat: no-repeat;
    
    &.logo {
        background-image: url(images/logo.png);
        
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background-image: url(images/logo-2x.png);
            background-size: 306px 52px;    
        }
        
        @media (max-width: @screen-xs-max) {
            width: 200px;
            height: 34px;
            background-size: 200px 34px !important;
            margin-top: 10px;
        }
    }
    
    &.logo-inverted {
        background-image: url(images/logo-inverted.png);
        
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background-image: url(images/logo-inverted-2x.png);
            background-size: 306px 52px;    
        }
        
        @media (max-width: @screen-xs-max) {
            width: 200px;
            height: 34px;
            background-size: 200px 34px !important;
            margin-top: 10px;
        }
    }
    
    &.logo-inverted-small {
        width: 250px;
        height: 43px;
        background-image: url(images/logo-inverted.png);
        background-size: 250px 43px !important;
        
        @media
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            background-image: url(images/logo-inverted-2x.png);
            background-size: 250px 43px;    
        }
        
        @media (max-width: @screen-sm-max) {
            width: 150px;
            height: 25px;
            background-size: 150px 25px !important;
        }
    }
}

hr {
    //display: block;
    //border: 0px solid transparent;
    //.img-retina('images/hrule.png'; 'images/hrule-2x.png'; 16px; 10px);
    //height: 10px;
    //margin: 0;
    border-top: 1px solid @gray-dark;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

/* The Overlay (background) */
.overlay {  
    @media (min-width: @screen-sm-min) {
        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    
    height: 0%;
    left: 0;
    right: 0;
    position: fixed; 
    z-index: 9999 !important; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    
    .overlay-content {
        position: relative;
        width: 100%; 
        margin-top: 25px;
        
        .overlay-header {
            .hamburger {
                color: #fff;
                font-size: 20px;
                
                .fa-circle {
                    color: @brand-primary;
                }
            }
        }
        
        #primary-navigation {
            margin-top: 90px;
            ul {
                margin: 0 0 30px 0;
                padding: 0;
                font-size: 72px;
                font-weight: bold;
                line-height: 1.4;
                
                li {
                    list-style: none;
                    margin-bottom: 20px;
                    
                    a {
                        color: #fff;
                    }
                }
            }
            
            @media (max-width: @screen-xs-max) {
                margin-bottom: 10px;
                ul {
                    line-height: 1.3;
                    font-size: 30px;
                }
            }
        }
        
                
        #search-social {
            
            
            .social-accounts {
                position: relative;
                bottom: 0;
                right: 0;
                
                ul {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    margin-right: 0;
                    
                    li {
                        list-style: none;
                        display: inline-block;
                        font-size: 36px;
                        margin-left: 7px;
                        margin-right: 7px;
                        
                        a {
                            color: @brand-primary;
                        }
                    }
                }
                
                
            }
        }
    }
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    
    &.btn-lg {
        padding: 6px 16px 14px 16px;
        
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 800;
        
        &.btn-primary {
            background-image: url(images/btn-lg-primary-bottom.png);
            background-position: center bottom;
            background-repeat: repeat-x;
        }
        
        &.btn-success {
            background-image: url(images/btn-lg-success-bottom.png);
            background-position: center bottom;
            background-repeat: repeat-x;
        }
    }
}

header {
    padding-top: 25px;
    background-color: @gray-dark;
    
    @media (min-width: @screen-sm-min) {
        .container-fluid {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    
    
    .header-content {
        h2 {
            color: #fff;
            margin-top: 0;
        }
    }
    
    .hamburger {
        color: #fff;
        font-size: 20px;
        
        .fa-circle {
            color: @brand-primary;
        }
    }
    
    &.header-casestudy {
        height: 100vh;
        position: relative;
        
        .header-content-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: 'Scroll Down';
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                padding-bottom: 53px;
                .img-retina('images/header-casestudy-arrow.png'; 'images/header-casestudy-arrow-2x.png'; 31px; 48px);
                background-position: center bottom;
                background-repeat: no-repeat;
            }
        }
        
        
        
        .header-content {
            color: #fff;
            padding-bottom: 120px;
            
            h1 {
                font-family: "museo-slab";
                font-weight: 800;
                font-size: 40px;
                margin-top: 0;
            }
            
            p {
                font-family: @font-family-sans-serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
            }
            
            p.subtitle {
                font-family: @font-family-sans-serif;
                color: @brand-primary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                line-height: normal;
                margin-bottom: 20px;
            }
        }
        
        @media (max-width: @screen-sm-max) {
            height: auto;
            
            .header-content-container {
                position: relative;
                
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            
            .header-content {
                padding-bottom: 40px;
                
                h1 {
                    margin-top: 80px;
                    font-size: 30px;
                }
                
            }
            
            
        }
        
        @media (max-width: @screen-xs-max) {
            
        }
    }
    
    &#header-thoughts {
        background-color: #fff;
        padding-bottom: 100px;
    }
    
    &#header-contact {
        height: 600px;
        background-image: url(images/contact-header.jpg);
        background-position: center center;
        background-size: cover;
        
        h1 {
            font-family: "museo-slab";
            font-weight: 800;
            font-size: 72px;
            color: @brand-primary;
            margin-top: 80px;
            
            strong {
                font-weight: 800;
                color: #fff;
            }
        }
        
        .phone, .email {
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
            display: inline-block;
            margin: 0px 20px 0px 20px;
            
            a {
                color: #fff;
            }
            
            &:before {
                font-family: FontAwesome;
                color: @brand-primary;
                margin-right: 10px;
            }
        }
        
        .phone:before {
            content: '\f095';
        }
        
        .email:before {
            content: '\f003';
        }
        
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            
        }
        
        @media (max-width: @screen-xs-max) {
            height: 425px;
            
            h1 {
                font-size: 48px;
                margin-bottom: 20px;
            }
            
            .phone {
                margin-bottom: 10px;
            }
        }
    }
    
    &.header-work {
        height: 100vh;
        position: relative;
        
        .header-content-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: 'More Work';
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                padding-bottom: 53px;
                .img-retina('images/header-casestudy-arrow.png'; 'images/header-casestudy-arrow-2x.png'; 31px; 48px);
                background-position: center bottom;
                background-repeat: no-repeat;
            }
        }
        
        h1 {
            font-family: "museo-slab";
            font-weight: 800;
            font-size: 72px;
            color: @brand-primary;
            margin-top: 80px;
        }
        
        .header-content {
            color: #fff;
            padding-bottom: 120px;
            
            h2 {
                font-family: "museo-slab";
                font-weight: 800;
                font-size: 40px;
                margin-top: 0;
            }
            
            p {
                font-family: @font-family-sans-serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
            }
            
            p.subtitle {
                font-family: @font-family-sans-serif;
                color: @brand-primary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                line-height: normal;
                margin-bottom: 20px;
            }
        }
        
        @media (max-width: @screen-sm-max) {
            height: auto;
            
            .header-content-container {
                position: relative;
                
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
            
            .header-content {
                padding-bottom: 40px;
                
                h2 {
                    font-size: 30px;
                }
                
            }
            
            h1 {
                margin-bottom: 50px;
            }
        }
        
        @media (max-width: @screen-xs-max) {
            h1 {
                font-size: 48px;
            }
        }
    }
    
    &#header-vencomatic {
        background-image: url(images/vencomatic-header.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    &#header-cityofhsv {
        background-image: url(images/hsv-header.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    &#header-digium {
        background-image: url(images/digium-header.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    
    &#header-home {
        background-image: url(images/home/home-casestudy-vencomatic-bg.jpg);
        background-position: center center;
        background-size: cover;
        
        .header-content {
            padding-top: 100px;
            
                h2 {
                    font-family: "museo-slab";
                    font-weight: 300;
                    font-size: 48px;
                    margin-bottom: 30px;
                    
                    strong {
                        font-weight: 800;
                    }
                    
                    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                        font-size: 36px;
                    }
                    
                    @media (max-width: @screen-xs-max) {
                        font-size: 30px;
                    }
                }
        }
    }
    
    
}

#home-intro {
    padding: 80px 0;
    background-image: url(images/home/home-intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    
    h1 {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 110px;
        
        span {
            font-size: 14px;
            letter-spacing: 2px;
            color: #E6C147;
            display: block;
            font-weight: 800;
        }
        
        &:after {
            display: block;
            width: 124px;
            height: 2px;
            background-color: #E6C147;
            margin: 20px auto 0 auto;
            content: ' ';
        }
        
        @media (max-width: @screen-xs-max) {
            margin-bottom: 60px;
        }
    }
    
    p.lead {
        font-family: @font-family-serif;
        font-size: 35px;
        font-weight: 100;
        line-height: 1.3;
        margin-top: 0;
        
        span {
            font-weight: 700;
            text-decoration: underline;
        }
        
        @media (max-width: @screen-xs-max) {
            font-size: 24px;
        }
    }
    
    .btn {
        color: #000;
    }
}


.home-casestudy {
    padding: 80px 0;
    background-color: @gray-dark;
    background-image: url(images/home/home-casestudy-vencomatic-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    
    .home-casestudy-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
    }
    
    .home-casestudy-content {
        color: #fff;
        
        h1 {
            font-family: "museo-slab";
            font-weight: 800;
            font-size: 40px;
            margin-top: 0;
        }
        
        p {
            font-family: @font-family-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
        }
        
        p.subtitle {
            font-family: @font-family-sans-serif;
            color: #7ED321;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            line-height: normal;
            margin-bottom: 20px;
        }
        
        .btn {
            margin-top: 20px;
        }
    }
}

.casestudy-content {
    .casestudy-image {
        height: 960px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        
        .casestudy-caption {
            position: absolute;
            display: inline-block;
            bottom: 0;
            right: 0;
            background-color: @brand-primary;
            padding: 10px;
            color: #000;
            margin: 0 20px 20px 0;
            font-weight: 500;
        }
        
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            height: 700px;
        }
        
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            height: 500px;
        }
        
        @media (max-width: @screen-xs-max) {
            height: 300px;
        }
    }
}

.casestudy-website {
    color: #fff;
    padding: 100px 0;
    background-color: #242424;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 20px;
        color: @brand-primary;
    }
    
    p {
        font-family: @font-family-sans-serif;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
    }
    
    .owl-carousel {
        margin-top: 60px;
        .item{
          opacity:0.4;
          transition:.4s ease all;
          margin:0 20px;
          transform:scale(.8);
          position: relative !important;
          
          a {
              position: absolute;
              top: 0;
              bottom: 0;
              cursor: pointer;
              &.next-website {
                  left: 0;
                  right: 50%;
              }
              &.prev-website {
                  right: 0;
                  left: 50%;
              }
          }
          
          
        }
        @media(max-width:1000px){
          .item{margin:0; transform:scale(.9)}
        }
        .active .item{
          opacity:1;
          transform:scale(1);
        }
        
        .active {
            a {
                display: none;
                visibility: hidden;
            }
        }
        
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
        }
        
        .inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
        .inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color}
        .inner a:hover{border-color:#fff;}
        .black .inner a{color:#000; border-color:rgba(0,0,0,0.4)}
        .black .inner a:hover{border-color:#000;}
        
        
        .owl-controls{position:absolute; margin-top:300px;}
    }
    
    

}

.casestudy-singlewide {
    padding: 90px 0;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 40px;        
    }
    
    .container-fluid {
        max-width: 1700px;
    }
}

.casestudy-services {
    padding: 50px 0 10px 0;
    background-color: @brand-primary;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 40px;   
        color: #4F4218;     
    }
    
    h4 {
        color: #4F4218;
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 25px;
    }
    
    .container-fluid {
        max-width: 1700px;
    }
    
    .service {
        margin-bottom: 40px;
        
        .image-container {
            display: flex;
            align-items: center;
            
            .inner {
                width: 100%;
            }
        }
    }
}

#vencomatic-tradeshow {
    background-image: url(images/vencomatic-tradeshow.jpg);
}

#cityofhsv-quote {
    background-image: url(images/cityofhsv-quote.jpg);
    height: 800px;
    
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            height: 600px;
        }
        
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            height: 400px;
        }
        
        @media (max-width: @screen-xs-max) {
            height: 200px;
        }
}

#cityofhsv-modal {
    background-image: url(images/cityofhsv-modal.jpg);
}

#vencomatic-type {
    background-image: url(images/vencomatic-type.jpg);
}

#vencomatic-brochures {
    background-image: url(images/vencomatic-brochures.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.casestudy-contact {
    padding: 70px 0;
    background-image: url(images/casestudy-contact-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #4A4A4A;
    color: #fff;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 25px;   
        color: @brand-primary;
        line-height: 1.4;
        
        strong {
            display: block;
            color: #fff;
            font-weight: 800;
        }     
    }
    
    p {
        font-size: 18px;
    }
    
    .nf-form-fields-required {
        margin-bottom: 20px;
        .ninja-forms-req-symbol {
            color: @brand-primary;
        }
    }
}

.front-contact {
    padding: 70px 0;
    background-image: url(images/front-contact-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #4A4A4A;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 25px;   
        color: #4A4A4A;
        line-height: 1.4;  
        
        @media (max-width: @screen-xs-max) {
            font-size: 26px;
        }   
    }
    
    p {
        font-size: 18px;
    }
    
    .btn-primary {
        color: #4A4A4A;
    }
    
    .nf-form-fields-required {
        margin-bottom: 20px;
        .ninja-forms-req-symbol {
            color: @brand-primary;
        }
        
    }
}

.thoughts-contact {
    padding: 70px 0;
    background-color: @brand-primary;
    color: #4A4A4A;
    
    h2 {
        font-family: "museo-slab";
        font-weight: 800;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 25px;   
        color: #4F4218;
        line-height: 1.4;  
        
        @media (max-width: @screen-xs-max) {
            font-size: 26px;
        }   
    }
    
    p {
        font-size: 18px;
        color: #4F4218;
    }
    
    .btn-primary {
        color: #4F4218;
        background-color: #fff;
    }
    
    .nf-form-fields-required {
        margin-bottom: 20px;
        color: #4F4218;
        .ninja-forms-req-symbol {
            color: #fff;
        }
        
    }
}


footer {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    padding: 40px 0;
    background-color: #252525;
    font-size: 18px;
    color: #fff;
    .inner {
        display: flex;
        align-items: center;
        
        .inner-content {
            width: 100%;
        }
    }
    
    .social-accounts {
        position: relative;
        bottom: 0;
        right: 0;
        
        ul {
            margin: 0;
            padding: 0;
            display: inline-block;
            margin-right: 0;
            
            li {
                list-style: none;
                display: inline-block;
                font-size: 36px;
                margin-left: 7px;
                margin-right: 7px;
                
                a {
                    color: @brand-primary;
                }
                
                &:last-of-type {
                    margin-right: 0px !important;
                }
            }
        }
        
        @media (max-width: @screen-sm-max) {
            //text-align: left;
            //position: relative;
            
            ul {
                margin-right: 0;
                
                li {
                    margin-left: 0px;
                    margin-right: 15px;
                    font-size: 24px;
                }
            }
        }
    }
    
    @media (max-width: @screen-xs-max) {
        font-size: 14px;
        .inner {
            text-align: center !important;
            margin-bottom: 15px;
            
            .logo-inverted-small {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }
}

.home-recent {
    background-color: @gray-dark;
    
    .container-fluid {
        padding: 0;
    }
    
    .recent-item {
        height: 500px;
        position: relative;
        background-position: center center;
        background-size: cover;
        
        .recent-inner {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 15%;
            
            h3 {
                font-family: "museo-slab";
                font-weight: 800;
                font-size: 30px;
                margin-top: 0; 
                margin-bottom: 5px;
                color: #fff;
                line-height: 1.4;
            }
            
            p.subtitle {
                font-family: @font-family-sans-serif;
                color: @brand-primary;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                line-height: normal;
                margin-bottom: 20px;
            }
        }
        
        @media (max-width: @screen-sm-max) {
            height: auto;
            padding-top: 100px;
            padding-bottom: 100px;
            .recent-inner {
                position: relative;
                bottom: auto;
                left: auto;
                right: auto;
                top: auto;
                text-align: center;
            }
        }
    }
    
    #recent-huntsville {
        background-image: url(images/hsv-header.jpg);
        background-position: center center;
        background-size: cover;
    }
    
    #recent-digium {
        background-image: url(images/digium-header.jpg);
        background-position: center center;
        background-size: cover;
    }
    
    
}

.thoughts-content {
    
}

.thoughts-listing {
    padding: 0 0 70px 0;
    
    .thought-item {
        h1.thought-title,
        h2.thought-title {
            font-family: "museo-slab";
            font-size: 40px;
            font-weight: 800;
            color: #4A4A4A;
            margin-top: 40px;
            margin-bottom: 15px;
            
            a {
                color: #4A4A4A;
            }
        }
        .thought-date {
            color: @brand-primary;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: block;
        }
        
        hr {
            width: 140px;
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
            color: #4A4A4A;
            margin-bottom: 15px;
        }
        .btn {
            color: #4A4A4A;
        }
        
        .thought-content {
            p {
                font-size: 15px;
                line-height: 1.75;
                margin-bottom: 20px;
                
                strong {
                    font-weight: 600;
                }
            }
            h3 {
                margin-bottom: 20px;
                font-family: "museo-slab";
                font-size: 24px;
                font-weight: 700;
            }
            h2 {
                font-family: "museo-slab";
                font-size: 30px;
                font-weight: 800;
                color: #4A4A4A;
                margin-bottom: 25px;
                padding-top: 10px !important;
                
                a {
                    color: #4A4A4A;
                }
            }
        }
    }
}

.contact-map {
    .contact-map-info {
        background-color: #FED13F;
        
        .inner {
            height: 600px;
            display: flex;
            align-items: center;
            
            .inner-content {
                width: 100%;
                
                h2 {
                    font-size: 48px;
                    color: #fff;
                    line-height: 1.1;
                    font-weight: 900;
                    margin-top: 0px;
                    margin-bottom: 20px;
                    font-family: "museo-slab";
                }
                
                p {
                    font-size: 20px;
                    line-height: 1.5;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
        
        .contact-map-social {
            padding: 0;
            margin: 20px 0 0 0;
            
            li {
                list-style: none;
                display: inline-block;
                margin: 0 2px;
            }
        }
    }
    #map {
        height: 600px;
    }
    
    .contact-map-embed {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    @media (max-width: @screen-sm-max) {
        .contact-map-info {
            .inner {
                height: 400px;
                
                .inner-content {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
        
        #map {
            height: 300px;
        }
    }
}